{:deps {com.lambdaisland/launchpad {:local/root "/home/arne/lambdaisland/launchpad"}#_{:mvn/version "0.35.156-alpha"}
        com.lambdaisland/cli {:local/root "/home/arne/lambdaisland/cli"} #_{:mvn/version "0.19.78"}}}
