{:paths ["src" "resources"]
 :deps
 {;; core
  org.clojure/clojure {:mvn/version "1.12.5"}

  ;; app setup & config
  aero/aero                      {:mvn/version "1.1.6"}
  ch.qos.logback/logback-classic {:mvn/version "1.5.37"}

  com.lambdaisland/config        {:mvn/version "0.15.56"}
  com.lambdaisland/makina        {:mvn/version "0.7.32"}
  io.pedestal/pedestal.log       {:mvn/version "0.8.1"}
  lambdaisland/glogi             {:mvn/version "1.4.177"}

  ;; http
  ring/ring      {:mvn/version "1.15.5"}
  metosin/reitit {:mvn/version "0.10.1"}
  hato/hato      {:mvn/version "1.0.0"}

  ;; styling
  com.lambdaisland/ornament {:mvn/version "1.17.150"}

  ;; data formats
  camel-snake-kebab/camel-snake-kebab   {:mvn/version "0.4.3"}
  com.cnuernber/charred                 {:mvn/version "1.039"}
  com.lambdaisland/hiccup               {:mvn/version "0.14.67"}
  lambdaisland/uri                      {:mvn/version "1.19.155"}
  markdown-to-hiccup/markdown-to-hiccup {:mvn/version "0.6.2"}
  metosin/malli                         {:mvn/version "0.20.1"}

  ;; Slack SDK
  co.gaiwan/clj-slack {:git/url "https://github.com/GaiwanTeam/clj-slack"
                       :git/sha "91b5057bcfa8ec28b5ec523b021f4406b2afb3b3"}

  ;; db
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.1118"}
  org.postgresql/postgresql         {:mvn/version "42.7.12"}
  com.github.seancorfield/honeysql  {:mvn/version "2.7.1399"}
  migratus/migratus                 {:mvn/version "1.6.6"}
  clj-pgcopy/clj-pgcopy             {:mvn/version "0.1.3"}
  hikari-cp/hikari-cp               {:mvn/version "4.1.0"}

  ;; error
  io.sentry/sentry {:mvn/version "8.47.0"}
  }

 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :jvm-opts    ["-Duser.timezone=UTC"]}

  :run-prod
  {:exec-fn   clojurians-log.system/go
   :exec-args {:profile :prod}
   :jvm-opts  ["-Duser.timezone=UTC"
               "-Dclojure.server.repl={:port 50505 :accept clojure.core.server/repl}"]}}}
