{:paths ["src" "resources"]
 :deps
 {;; core
  org.clojure/clojure {:mvn/version "1.12.5"}

  ;; app setup & config
  aero/aero                      {:mvn/version "1.1.6"}
  ch.qos.logback/logback-classic {:mvn/version "1.5.38"}

  com.lambdaisland/config  {:mvn/version "0.15.56"}
  com.lambdaisland/makina  {:mvn/version "0.8.37"}
  io.pedestal/pedestal.log {:mvn/version "0.8.1"}
  lambdaisland/glogi       {:mvn/version "1.4.177"}

  ;; http
  ring/ring                         {:mvn/version "1.15.5"}
  metosin/reitit                    {:mvn/version "0.10.1"}
  hato/hato                         {:mvn/version "1.0.0"}
  io.github.tonsky/clj-simple-stats {:mvn/version "1.2.0"}

  ;; styling
  com.lambdaisland/ornament {:mvn/version "1.17.150"}

  ;; data formats
  camel-snake-kebab/camel-snake-kebab   {:mvn/version "0.4.3"}
  com.cnuernber/charred                 {:mvn/version "1.041"}
  com.lambdaisland/hiccup               {:mvn/version "0.14.67"}
  lambdaisland/uri                      {:mvn/version "1.19.155"}
  markdown-to-hiccup/markdown-to-hiccup {:mvn/version "0.6.2"}
  metosin/malli                         {:mvn/version "0.20.1"}

  ;; utilities
  org.clojure/core.memoize {:mvn/version "1.2.281"}

  ;; Slack SDK
  co.gaiwan/clj-slack {:local/root "../clj-slack"}

  ;; db
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.1118"}
  org.postgresql/postgresql         {:mvn/version "42.7.13"}
  com.github.seancorfield/honeysql  {:mvn/version "2.7.1399"}
  migratus/migratus                 {:mvn/version "1.6.7"}
  clj-pgcopy/clj-pgcopy             {:mvn/version "0.1.3"}
  hikari-cp/hikari-cp               {:mvn/version "4.1.0"}

  ;; error
  io.sentry/sentry {:mvn/version "8.49.0"}
  }

 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :jvm-opts    ["-Duser.timezone=UTC"]}

  :prof
  {:jvm-opts   ["-Djdk.attach.allowAttachSelf=true" "-XX:+UnlockDiagnosticVMOptions" "-XX:+DebugNonSafepoints"]
   :extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.7.0"}}}
  }}
