{:db/port     5432
 :db/user     "clojurians-log"
 :db/name     "clojurians-log"
 :db/type     "postgresql"
 :db/hostname "localhost"

 :sentry/dsn nil

 :http/port 9090

 :slack/bot-token "" #_ "xoxb-12345-67890"

 :styles/precompile false
 }
