{:db/port     5432
 :db/user     "clojurians-log"
 :db/name     "clojurians-log"
 :db/type     "postgresql"
 :db/hostname "localhost"
 :db/password nil

 :sentry/dsn nil

 :http/port 9090

 :slack/bot-token "" #_ "xoxb-12345-67890"
 :slack/unix-socket nil
 :slack/unix-socket-retry-ms 5000

 :styles/precompile false
 }
